.header-msg {
  text-align: center;
  margin-bottom: 20px;
  h2 { 
    font-weight: 800; 
    margin-bottom: 5px; 
  }
  p { 
    color: var(--ion-color-medium); 
    font-size: 0.9rem; 
  }
}

.form-card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 16px;
  margin-bottom: 15px;
}

.input-item {
  --border-radius: 8px;
  margin-bottom: 10px;
  
  border: 1px solid var(--ion-color-step-100);
}

ion-button:hover {
  --opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s ease;
}