ion-content {
  --padding-bottom: 80px; 
}

.header-project {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  h1 {
    font-weight: 800;
    margin: 5px 0;
  }

  p {
    color: var(--ion-color-medium);
    margin-bottom: 10px;
  }

  ion-icon {
    font-size: 3rem;
  }
}

ion-card {
  margin-bottom: 15px;
  border-radius: 12px;
}

ion-card-title {
  font-size: 1.1rem;
  font-weight: 700;
}

.tech-chips {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}