.data-card p {
  font-size: 1.1rem;
  margin: 10px 0;
}

.steps-card {
  ion-icon {
    font-size: 3rem;
    color: var(--ion-color-primary);
  }
  
  h4 {
    margin-top: 5px;
  }

  .steps-count {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin: 0;
  }
}