<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>GymBro</ion-list-header>
          <ion-note>O parceiro do seu shape.</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider style="margin-top: 20px; background: transparent; border: none;">
            <ion-label color="medium" style="font-size: 0.8rem; font-weight: bold; margin-left: 16px;">
              FUNÇÕES NATIVAS
            </ion-label>
          </ion-item-divider>

          <ion-menu-toggle auto-hide="false" *ngFor="let n of nativePages">
            <ion-item routerDirection="root" [routerLink]="[n.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="n.icon + '-outline'" [md]="n.icon + '-sharp'" color="secondary"></ion-icon>
              <ion-label>{{ n.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-item lines="none" button (click)="logout()" style="cursor: pointer;">
          <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
          <ion-label color="danger">Sair da Conta</ion-label>
        </ion-item>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>