// Deixe vazio ou coloque apenas ajustes finos de margem
ion-list {
  background: transparent;
  margin-bottom: 20px;
}

// Se quiser garantir que o fundo dos inputs acompanhe o tema:
ion-item {
  --background: transparent;
}