#map {
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10;
  position: absolute;
  background: var(--ion-background-color); 
}