.welcome-text {
  margin-bottom: 10px;

  p {
    color: var(--ion-color-medium);
    margin: 0;
  }

  h2 {
    margin-top: 4px;
    font-weight: bold;
  }
}

.imc-card {
  border-radius: 16px;
  background: var(--ion-color-light);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imc-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imc-info h3 {
  font-weight: 600;
  margin-bottom: 4px;
}

.imc-circle {
  background: var(--ion-color-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 10px;

  h3 {
    margin: 0;
  }

  a {
    font-size: 0.9rem;
    color: var(--ion-color-primary);
    text-decoration: none;
  }
}

.novidades {
  display: flex;
  gap: 10px;

  ion-img {
    width: 48%;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
  }
}

.exercicio-card {
  margin-bottom: 12px;
  border-radius: 14px;
  background: var(--ion-color-light);
}

.exercicio-header {
  display: flex;
  align-items: center;
  gap: 10px;

  ion-img {
    width: 50px;
    height: 50px;
  }

  h4 {
    margin: 0;
    font-weight: 600;
  }

  p {
    font-size: 0.85rem;
    color: var(--ion-color-medium);
  }
}

.btn-criar {
  margin-top: 20px;
  font-weight: bold;
}
